extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/projectDetail.css')

block content
  .project-background
    .dashboard
      if errMsg
        h1= title
        p.error-message= errMsg
      else if projectDetail
        .project-header
          h1= projectDetail.address
          if currentUser.isAdmin
            a.button.header-button.project-button(href=`/users/${projectDetail.userId}/project/${projectDetail._id}/update`) Edit
        
        .project-details
          if currentUser && currentUser.isAdmin
            .detail-item
              h2 Type
              p.secondary-text= projectDetail.type
          
          .detail-item
            h2 Current Phase
            .phase-items
              if projectDetail.currentPhase === 1
                p.secondary-text 1 out of 4
              else if projectDetail.currentPhase === 2
                p.secondary-text 2 out of 4
              else if projectDetail.currentPhase === 3
                p.secondary-text 3 out of 4
              else 
                p.secondary-text 4 out of 4
              div.progress(role='progressbar', aria-label='Warning example', aria-valuenow='75', aria-valuemin='0', aria-valuemax='100')
                if projectDetail.currentPhase === 1
                  div.progress-bar(style='width: 25%')
                else if projectDetail.currentPhase === 2
                  div.progress-bar(style='width: 50%')
                else if projectDetail.currentPhase === 3
                  div.progress-bar(style='width: 75%')
                else 
                  div.progress-bar(style='width: 100%')
          
          if projectDetail.description && currentUser && currentUser.isAdmin
            .detail-item
              h2 Description
              p.secondary-text= projectDetail.description
        
        .updates-container
          .updates-header
            h2 Current Update
            if currentUser.isAdmin && update === null
              a.button.header-button.project-button(href=`/users/${projectDetail.userId}/project/${projectDetail._id}/weekly-update/create`) Add Update
            else if currentUser.isAdmin && update !== null || !currentUser.isAdmin && update !== null
              a.button.header-button.project-button(href=`/users/${projectDetail.userId}/project/${projectDetail._id}/weekly-updates`) View All

          if update !== null
            .detail-item
              h3 Week #{update.week} - #{update.title}
              if update.description 
                p.update-description.secondary-text= update.description
          else
            .detail-item
              p No updates to see yet!

        if projectDetail.images && projectDetail.images.length > 0
          h2 Images
          .image-gallery
            .gallery-grid
              each image in projectDetail.images
                .image-container
                  img(src=image.url alt="Project Image")
                  p.image-date Uploaded: #{image.createdAt.toLocaleDateString()}

        else
          p.secondary-text Nothing to see here yet.