extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userList.css')

block content 
  div.list-background
    div.wrapper
      h1 #{title}

      if projectList === undefined
        p.user-list-li No projects found!
      else
        ul
          each project in projectList
            li
              a(href=`/users/${userId}/project/${project._id}`) #{project.address}

      if currentUser.isAdmin
        a.button.svg-button(href=`/users/${userId}/project/create`)
          svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16")
            path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
          span New project