extends layout

block stylesheets
  link(rel='stylesheet', href='/stylesheets/forms.css')

block content
  div.form-background 
    div.project-form-wrapper
      h1= title
      form#projectForm(method='POST' action=formAction enctype='multipart/form-data')
        div.input-field
          input#address(type='text' name='address' required value=(project && project.address))
          label(for='address') Address:
        div.textarea-input-field
          label(for='description') Description (optional):
          textarea#description(name='description')
            if project && project.description
              = project.description
        div.input-field.select-field
          label.sr-only(for='currentPhase') Current Phase:
          select#currentPhase.form-select(name='currentPhase' required)
            option(value='') Select Phase
            option(value='1' selected=(project && project.currentPhase === 1)) Phase 1
            option(value='2' selected=(project && project.currentPhase === 2)) Phase 2
            option(value='3' selected=(project && project.currentPhase === 3)) Phase 3
            option(value='4' selected=(project && project.currentPhase === 4)) Phase 4
        
        div.input-field.select-field
          label.sr-only(for='type') Project Type:
          select#type.form-select(name='type' required)
            option(value='') Select Type
            option(value='Residential' selected=(project && project.type === 'Residential')) Residential
            option(value='Commercial' selected=(project && project.type === 'Commercial')) Commercial

        div.input-field.select-field
          input#images(type='file' name='images' multiple accept='image/*')
        
        if images 
          div.accordion.accordion-flush#accordionFlushExample
            div.accordion-item
              h2.accordion-header
                button.accordion-button.collapsed(type='button', data-bs-toggle='collapse', data-bs-target='#flush-collapseOne', aria-expanded='false', aria-controls='flush-collapseOne')
                  | Images

              div#flush-collapseOne.accordion-collapse.collapse(data-bs-parent='#accordionFlushExample')
                div.accordion-body
                  div.image-container
                    for image in images
                      div.second-image-container
                        img.project-image(src=image.url)
                        input.delete-image-checkbox(type='checkbox', name='image', id=image._id, value=image._id)
                        label.sr-only(for=image._id) &nbsp;Delete
        
        button#submitButton.button.project-form-button(type='submit')
          span.button-text= title
          span.spinner-border.spinner-border-sm.d-none(role='status' aria-hidden='true')

      if errors
        ul.errors
          each error in errors
            li.error-item= error.msg
  script.
    document.getElementById('projectForm').addEventListener('submit', function(event) {
      const submitButton = document.getElementById('submitButton');
      const buttonText = submitButton.querySelector('.button-text');
      const spinner = submitButton.querySelector('.spinner-border');

      // Disable the button and show the spinner
      submitButton.disabled = true;
      buttonText.textContent = '';
      spinner.classList.remove('d-none');
    });