extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userList.css')

block content 
  div.list-background
    div.wrapper
      h1 #{title}

      if updateList === undefined
        p.secondary-text.user-list-li No updates found!
      else
        ul
          each update in updateList
            li
              a(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}`) Week #{update.week} (#{update.title})

      div.actions
        if currentUser.isAdmin
          a.button.list-button(href=`/users/${userId}/project/${projectId}/weekly-update/create`)
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16")
              path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
            span New Update

        a.button.list-button(href=`/users/${userId}/project/${projectId}`)
          svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16")
            path(fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8")
          span Back