extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userDetail.css')

block content 
  div.detail-background.update-detail-background
    div.detail-wrapper
      if update === null
        p Update not found!
      else
        h1 Week #{update.week}
        div.info-text
          p.medium-text.subtitle #{update.title}
          p.secondary-text.text-left #{update.description}

        div.actions
          if currentUser && currentUser.isAdmin
            a.button(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}/edit`) Edit
            a.button-secondary.svg-button(href=`/users/${userId}/project/${projectId}/weekly-updates`) Back
          else
            a.button.svg-button(href=`/users/${userId}/project/${projectId}/weekly-updates`) Back
          if currentUser && currentUser.isAdmin
            a.button.delete-button(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}/delete`) Delete