extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/updateDetail.css')

block content 
  div.update-detail-background
    div.update-detail-wrapper
      if update === null
        p Update not found!
      else
        h1 Week #{update.week}
        div.info-text
          p.medium-text.subtitle #{update.title}
          if update.description && update.description.length > 0
            each line in update.description
              p.secondary-text.text-left= line

        div.actions
          if currentUser && currentUser.isAdmin
            a.button(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}/edit`) Edit
            a.button-secondary.svg-button(href=`/users/${userId}/project/${projectId}/weekly-updates`) Back
          else
            a.button.svg-button(href=`/users/${userId}/project/${projectId}/weekly-updates`) Back
          if currentUser && currentUser.isAdmin
            a.button.delete-button(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}/delete`) Delete