extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userList.css')

block content 
  div.list-background.update-list-background
    div.list-wrapper
      h1 #{title}

      if updateList === undefined || updateList.length === 0
        p.secondary-text.user-list-li No updates found!
      else
        ul
          each update in updateList
            li
              a(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}`) Week #{update.week}

      div.actions
        if currentUser.isAdmin
          a.button.svg-button(href=`/users/${userId}/project/${projectId}/weekly-update/create`)
            svg(xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16")
              path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4")
            span New Update
          a#viewProject.button-secondary.svg-button(href=`/users/${userId}/project/${projectId}`) 
            span#button-text Back to Project
            span#spinner-border.spinner-border.spinner-border-sm.d-none(role='status' aria-hidden='true')
        else
          a#viewProject.button.svg-button(href=`/users/${userId}/project/${projectId}`) 
            span#button-text Back to Project
            span#spinner-border.spinner-border.spinner-border-sm.d-none(role='status' aria-hidden='true')

  script.
    document.getElementById('viewProject').addEventListener('click', function(event) {
      const buttonText = document.getElementById('button-text');
      const spinner = document.getElementById('spinner-border');

      // Disable the button and show the spinner
      buttonText.classList.add('d-none');
      spinner.classList.remove('d-none');
    });

    window.addEventListener('pageshow', function(event) {
      const buttonText = document.getElementById('button-text');
      const spinner = document.getElementById('spinner-border');

      // Restore the button text and hide the spinner
      buttonText.classList.remove('d-none') // Set this to whatever the original text was
      spinner.classList.add('d-none');
    });