extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userDetail.css')

block content 
  div.detail-background
    div.wrapper
      if update === null
        p Update not found!
      else
        h1 Week #{update.week}
        div.info-text
          p.secondary-text.medium-text #{update.title}
          p.secondary-text.text-left #{update.description}

        div.actions
          a.button.svg-button(href=`/users/${userId}/project/${projectId}/weekly-updates`) Back
          if currentUser && currentUser.isAdmin
              a.button(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}/edit`) Edit
              a.button.delete-button(href=`/users/${userId}/project/${projectId}/weekly-update/${update._id}/delete`) Delete