extends layout 

block stylesheets
  link(rel='stylesheet', href='/stylesheets/userDetail.css')

block content 
  div.detail-background
    div.detail-wrapper
      h1 #{user.name}

      if clientDetail === {}
        p Client not found!
      else
        p
          strong Email: 
          | #{user.email}
        if user.phoneNumber
          p
            strong Phone Number: 
            | #{user.phoneNumber}

        if currentUser && currentUser.isAdmin
          div.actions
            if projectExists
              a.detail-button(href=`/users/${user._id}/project/${projectId}`) View Project
            else 
              a.detail-button(href=`/users/${user._id}/project/create`) Create Project
            a.detail-button(href=`/users/${user._id}/update`) Update Client
            a.detail-button.delete-button(href=`/users/${user._id}/delete`) Delete Client