extends layout 

block content 
  h1 #{title}

  if clientDetail === {}
    p Client not found!
  else
    p
      strong Name: 
      | #{user.name}
    p
      strong Email: 
      | #{user.email}
    p
      strong Phone Number: 
      | #{user.phoneNumber}

    div.actions
      a(href=`/users/${user._id}/update`) Update
      a(href=`/users/${user._id}/delete`, style="color: red") Delete
      if projectExists
        a(href=`/users/${user._id}/project/${projectId}`) View Project
      else 
        a(href=`/users/${user._id}/project/create`) Create Project